.duoyu {
  height: .5rem;
  background: aquamarine;
}

#wrap {
  height: 100%;
  background: #EBEEF0;
  -webkit-box-orient: vertical;
}

#wrap .head header {
  background: #FF5B06;
  height: 0.8rem;
  width: 100%;
  text-align: center;
  line-height: 0.8rem;
  position: relative;
}

#wrap .head header h1 {
  font-size: 0.35rem;
  color: white;
}

#wrap .head header:before {
  position: absolute;
  left: 0.3rem;
  bottom: 0.05rem;
  color: white;
  font-size: 0.5rem;
}

#wrap .head .head_nav {
  text-align: center;
}

#wrap .head .head_nav .head_nav_ul {
  margin: 0.3rem 0;
  text-align: center;
  display: inline-block;
  font-size: 0;
  border: 1px solid #FF5B06;
  border-radius: 5px;
  position: relative;
  color: #FF5B06;
}

#wrap .head .head_nav .head_nav_ul li:last-child {
  border-right: none;
}

#wrap .head .head_nav .head_nav_ul li {
  width: 1.3rem;
  height: 0.6rem;
  line-height: 0.6rem;
  display: inline-block;
  border-right: 1px solid #FF5B06;
  font-size: 0.25rem;
  vertical-align: middle;
}

#wrap .head .head_nav .head_nav_ul:before {
  position: absolute;
  bottom: 0.01rem;
  right: -.75rem;
  color: #CCCCCC;
  font-size: 0.5rem;
}

#wrap .head .head_money {
  height: 0.6rem;
  background: white;
  color: #FF5B06;
  line-height: 0.6rem;
}

#wrap .head .head_money .head_money_left {
  float: left;
  margin-left: 1.05rem;
}

#wrap .head .head_money .head_money_right {
  float: right;
  margin-right: 1.05rem;
}

#wrap #content {
  overflow-y: auto;
  width: 100%;
}

#wrap #content .lists .content_nav {
  font-size: 0;
}

#wrap #content .lists .content_nav li {
  line-height: 1.3rem;
  font-size: 0.2rem;
  height: 1.3rem;
  padding-left: 0.4rem;
}

#wrap #content .lists .content_nav li .sp2 img {
  margin-left: 0.3rem;
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  background: black;
  vertical-align: middle;
  border-radius: 100%;
}

#wrap #content .lists .content_nav li .sp3 {
  padding-left: 0.2rem;
}

#wrap #content .lists .content_nav li .sp4 {
  float: right;
  margin-right: 0.7rem;
  color: #FF5B06;
}

#wrap #content .lists .content_nav li:nth-child(even) {
  background: white;
}

.mengban {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.mengban .chahao:before {
  position: absolute;
  right: .3rem;
  top: .2rem;
  font-size: .5rem;
  color: #CCCCCC;
}

.mengban .xinxi {
  width: 6.7rem;
  border-radius: 10px 10px 0 0;
  background: white;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -3.35rem;
  margin-top: -3.35rem;
  text-align: center;
  color: #979898;
  z-index: 1;
}

.mengban .xinxi .head {
  border-radius: 10px 10px 0 0;
  height: 3.86rem;
  background: #ECEFF1;
  text-align: center;
}

.mengban .xinxi a img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  border: .1rem solid white;
  margin-top: -0.75rem;
}

.mengban .xinxi .xinxi_ul {
  margin-top: .2rem;
  font-size: 0;
}

.mengban .xinxi .xinxi_ul li:before {
  font-size: .38rem;
}

.mengban .xinxi .xinxi_ul li {
  display: inline-block;
  margin-left: .3rem;
}

.mengban .xinxi .xinxi_ul_li1 {
  font-size: .4rem;
  color: #333333;
}

.mengban .xinxi .xinxi_ul_li2, .mengban .xinxi .xinxi_ul_li3 {
  font-size: .35rem;
}

.mengban .xinxi .bianji {
  font-size: .25rem;
  margin-left: .1rem;
  width: 50%;
  background: transparent;
  border: none;
  vertical-align: middle;
  color: #979898;
  margin: .15rem 0;
}

.mengban .xinxi i:before {
  font-size: .35rem;
}

.mengban .xinxi p {
  padding-left: .5rem;
}

.mengban .xinxi span {
  position: relative;
  font-size: .3rem;
}

.mengban .xinxi .xinxi_sp2 {
  margin-right: .7rem;
}

.mengban .xinxi .xinxi_sp1:before, .mengban .xinxi .xinxi_sp3:before {
  content: "";
  width: .45rem;
  height: .55rem;
  background: black;
  position: absolute;
  top: -.1rem;
  left: -.55rem;
}

.mengban .xinxi .xinxi_sp1:before {
  background: url(../img/1.png) no-repeat 0px 0px;
  background-size: 100% 100%;
}

.mengban .xinxi .xinxi_sp3:before {
  background: url(../img/2.png) no-repeat 0px 0px;
  background-size: 100% 100%;
}

.mengban .xinxi .anniu {
  color: white;
  line-height: .6rem;
  display: inline-block;
  width: 2.5rem;
  height: .6rem;
  background: #FF7002;
  margin-top: .33rem;
  border-radius: .5rem;
}

.mengban .xinxi .zengsong {
  margin-left: .5rem;
  float: left;
}

.mengban .xinxi .guanzhu {
  margin-right: .5rem;
  float: right;
}

.mengban .xinxi .foot_ul {
  height: 1.5rem;
  font-size: 0;
  padding-left: 1.1rem;
  border-bottom: 1px solid  #E4E9ED;
  padding-top: .4rem;
  box-sizing: border-box;
  position: relative;
}

.mengban .xinxi .foot_ul li {
  text-align: left;
  font-size: .25rem;
  width: 2.5rem;
  display: inline-block;
}

.mengban .xinxi .shenglv {
  color: red;
}

.mengban .xinxi .foot i {
  float: left;
  font-size: .25rem;
  position: relative;
  margin-top: .6rem;
  margin-left: .4rem;
}

.mengban .xinxi .foot i:before {
  position: absolute;
  font-size: .75rem;
  top: -.5rem;
  left: -.145rem;
}
